Package: com.Rainfall.Easybooter
Name: Easybooter
Architecture: iphoneos-arm
Depends: firmware (>=6.0)
Description: A script to make dualbooting easier!
Maintainer: 4pplecracker <4pplecracker@gmail.com> aka nobbele <PRIVATE>
Author: 4pplecracker <4pplecracker@gmail.com> aka nobbele <PRIVATE>
Section: Tweaks
Depiction: https://4ppleCracker.github.io/Rainfall/depictions/?p=com.Rainfall.Easybooter
Version: 1.1.0-1
